{{ define "dashboard" }}

<!DOCTYPE html>
<html>
<head>
    <title>COO | Dashboard</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
</head>
<body>
    <p>Hello, {{ .firstname }}</p>
    <a href='/dashboard'>Dashboard</a>
    <a href='/profile'>Profile</a>
    <a href='/longtable'>LongTable</a>
    <a href='/api/logout'>Log Out</a>
    <hr />

    <div>
        <h3>LongTable Bookings</h3>
    </div>

    <div>
        <h3>Similar Users</h3>
        {{ with .SimilarUsers }}
            <ul>
            {{ range $k, $user := . }}
                <li>{{ $user.firstname }} {{ $user.lastname }}</li>
            {{ end }}
            </ul>
        {{ else }}
            <p>No similar users..</p>
        {{ end }}
    </div>
</body>
</html>

{{ end }}
