{{ define "longtable" }}

<!DOCTYPE html>
<html>
<head>
    <title>COO | LongTable</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
</head>
<body>
    <p>Hello, {{ .user.firstname }}</p>
    <a href='/dashboard'>Dashboard</a>
    <a href='/profile'>Profile</a>
    <a href='/longtables'>Longtables</a>
    <a href='/api/logout'>Log Out</a>
    <hr />

    <h3>{{ .longtable.name }}</h3>

    <div>
        <h4>Available Seats</h4>
        {{ with .longtable }}
            {{ range .AvailableSeats }}
                <button disabled>{{ . }}</button>
            {{ end }}

            <form action='/api/longtable/booking' method='POST'>
                <div>
                    <label>Seat Position
                        <input type='range' name='seatPosition' max='{{ minus .numSeats 1 }}' />
                    </label>
                </div>
                <div>
                    <label>Date
                        <input type='date' name='date' />
                    </label>
                </div>
                <div>
                    <input type='hidden' name='longTableID' value='{{ .id }}' />
                    <button type='submit'>Book</button>
                </div>
            </form>
        {{ end }}
    </div>

</body>
</html>

{{ end }}
